.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Hidden by default */
.input {
  width: 0;
  opacity: 0;
  padding: 0;
  height: 28px;
  border-radius: 5px;
  border: none;
  background-color: #764ba2;
  color: black;

  transition: width 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

/* When open → expand smoothly */
.input.show {
  width: 320px;
  padding: 0 10px;
  opacity: 1;
}

.button {
  height: 28px;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #764ba2;

  display: flex;
  align-items: center;
  justify-content: center;
}
